
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; 
  }
  
  body {
    background-color: #F2F5FD;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    margin: 0px, 0px, 20px;
  }
  
  body header #logo {
    font-size: 24px;
  }
  
  #menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .nav-item {
    font-size: 18px;
    cursor: pointer;
  }
  
  #menu-links li:hover {
    color: #007BFF;
    text-decoration: underline;
  }
  
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }

.filters_container{
    background-color: white;
    width: 20%;
    height: calc(100vh - 80px);
    box-shadow: 2px 0 5px #969696;

    position: relative;
    
    top: 50px;
    z-index: 9;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
}

.icon-button i {
    font-size: 24px;
    margin-bottom: 5px;
    color: #5f5f5fb3;
}

.icon-button span {
    font-size: 13px;
    color: #5f5f5fb3;
}

.icon-button:hover i,
.icon-button:hover span {
    color: #CC164E;
    transition: color 0.3s ease;
}

.icon-button.active{
    background-color: rgb(252, 246, 246);
    border-radius: 10%;
}

.icon-button.active i,
.icon-button.active span {
    color: #CC164E;
}

#map_container{
    width: 80%;
    height: calc(100vh - 80px);

    position: fixed;
    z-index: 8;
    left: 20%;
    bottom: 30px;
}

#map_button_container{
    width: 80%;
    height: calc(100vh - 80px);
    pointer-events: none;

    position: fixed;
    z-index: 9;
    left: 20%;
    bottom: 30px;
}

#map_button_container > * {
    pointer-events: auto;
}

#address_input{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #5f5f5f;
    font-size: 13px;
    margin: 15px;
    padding: 10px;
    height: 10px;

    position: absolute;
    z-index: 9;   
}

#alert_button {
    height: 60px;
    width: 60px;
    margin: 15px;

    background-color: #5f5f5fb3;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 9;
}

#alert_button:hover {
    background-color: #CC164E;
}

@media (max-width: 768px) {
 
  #menu ul {
      display: none;
  }

  .hamburger {
      display: block;
  }

  #menu.active ul {
      display: flex;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 50px; 
      width: 100%;
      left: 0;
      padding: 10px;
      z-index: 1000;
      cursor: pointer;
  }

  .sidebar.active {
      display: flex; 
  }
}

footer{
    background-color: #2E2E2E;
    color: white;
    font-size: 12px;
    box-shadow: 0 -1px 1px #969696;
    width: 100%;
    height: 30px;
    
    position: fixed;
    bottom: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}






@media (max-width: 620px) {
    .icon-button span{
        display: none;
    }

    #address_input{
        width: 300px; 
    }
}

.follow-mouse-marker {
    position: absolute;
    pointer-events: none; /* Garante que o marcador não interfira no clique */
    z-index: 1000; /* Fica acima de outros elementos */
}









