
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

body {
  background-color: #F2F5FD;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

body header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}

body header #logo {
  font-size: 24px;
}

#menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-item {
  font-size: 18px;
  cursor: pointer;
}

#menu-links li:hover {
  color: #007BFF;
  text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
#cadastro_container {
  background-color: white; /* Cor de fundo do contêiner */
  border-radius: 10px; /* Cantos arredondados, opcional */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor do contêiner */
  display: flex; /* Para usar flexbox */
  flex-direction: column; /* Alinha os itens na coluna */
  height: 418px; /* Define a altura desejada do contêiner */
  justify-content: left; /* Alinha o conteúdo ao topo */
  margin: 100px auto; /* Centraliza horizontalmente e adiciona margem acima e abaixo */
  position: relative; /* Para que o contêiner não afete o layout */
  width: 500px; /* Define a largura desejada do contêiner */
}

#cadastro_container h1 {
  color: #333; /* Cor do título de login */
  font-size: 24px; /* Define o tamanho da fonte */
  margin-bottom: 15px; /* Adiciona espaçamento abaixo */
  margin-top: 15px; /* Adiciona espaçamento acima */
  text-align: center; /* Centraliza o título */
}

#subtitle {
  color: #666; /* Cor do subtítulo */
  font-size: 14px; /* Tamanho da fonte */
  margin-bottom: 30px; /* Espaçamento inferior */
  text-align: center; /* Centraliza o subtítulo */
}

#cadastro_form {
  display: flex; /* Flexbox para organizar os campos */
  flex-direction: column; /* Alinha os campos verticalmente */
  gap: 20px; /* Espaçamento entre os campos */
}

.form_group {
  margin-left: 25px; /* Distância da borda esquerda */
  width: 85%; /* Largura relativa do contêiner dos campos */
}

.form_group input {
  border: 1px solid #ddd; /* Define a borda */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 14px; /* Tamanho da fonte */
  padding: 12px; /* Preenchimento interno do campo */
  width: 100%; /* Ocupa toda a largura do contêiner pai */
}

#cadastro_button {
  background-color: #CC164E; /* Cor de fundo do botão */
  border: none; /* Remove bordas */
  border-radius: 4px; /* Cantos arredondados */
  color: white; /* Cor do texto */
  cursor: pointer; /* Define o cursor como mãozinha */
  font-size: 16px; /* Tamanho da fonte */
  margin-left: 25px; /* Distância da borda esquerda */
  padding: 12px; /* Preenchimento interno */
  transition: background-color 0.3s; /* Animação para o hover */
  width: 90%; /* Largura do botão */
}

#cadastro_button:hover {
  background-color: #a8103e; /* Cor do botão ao passar o mouse */
}

footer {
  align-items: center; /* Alinha verticalmente os itens do footer */
  background-color: #2E2E2E; /* Cor de fundo do footer */
  bottom: 0; /* Posiciona o footer na parte inferior */
  box-shadow: 0 -2px 2px #969696; /* Sombra na parte superior do footer */
  color: white; /* Cor do texto do footer */
  display: flex; /* Para alinhar o conteúdo do footer */
  font-size: 12px; /* Tamanho da fonte do footer */
  height: 30px; /* Define a altura do footer */
  justify-content: center; /* Centraliza horizontalmente o conteúdo do footer */
  position: fixed; /* Fixa o footer na parte inferior da tela */
  text-align: center; /* Centraliza o texto no footer */
  width: 100%; /* Define a largura do footer como 100% */
}

@media (max-width: 768px) {
 
  #menu ul {
      display: none;
  }

  .hamburger {
      display: block;
  }

  #menu.active ul {
      display: flex;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 50px; 
      width: 100%;
      left: 0;
      padding: 10px;
      z-index: 1000;
      cursor: pointer;
  }

  .sidebar.active {
      display: flex; 
  }
}

footer {
  align-items: center; /* Alinha verticalmente os itens do footer */
  background-color: #2E2E2E; /* Cor de fundo do footer */
  bottom: 0; /* Posiciona o footer na parte inferior */
  box-shadow: 0 -2px 2px #969696; /* Sombra na parte superior do footer */
  color: white; /* Cor do texto do footer */
  display: flex; /* Para alinhar o conteúdo do footer */
  font-size: 12px; /* Tamanho da fonte do footer */
  height: 30px; /* Define a altura do footer */
  justify-content: center; /* Centraliza horizontalmente o conteúdo do footer */
  position: fixed; /* Fixa o footer na parte inferior da tela */
  text-align: center; /* Centraliza o texto no footer */
  width: 100%; /* Define a largura do footer como 100% */
}















